name: Deployment pipeline

on: 
    push:
        branches:
            - main

jobs:
    simple_deployment_pipeline_job_build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v6
              with:
                node-version: '22'
            - name: Install dependencies
              run: npm install
            - name: Check style (Lint)
              run: npm run eslint