name: Deployment pipeline

on: 
    push:
      branches:
        - main

    pull_request:
      branches: [main]
      types: [opened, synchronize]

jobs:
    build_and_test_deployment_pipeline_job:
        runs-on: ubuntu-latest

        steps:
          - name: Checkout code 
            uses: actions/checkout@v5
            
          - name: Set up Node.js
            uses: actions/setup-node@v6
            with:
              node-version: '22'
            
          - name: Install dependencies
            run: npm install

          - name: Install Playwright Browsers
            run: npx playwright install --with-deps
            
          - name: Check style (Lint)
            run: npm run eslint
            
          - name: Run Jest tests
            run: npm run test

          - name: Build project frontend for Playwright tests
            run: npm run build:frontend

          - name: Run Playwright tests
            run: npm run test:e2e

          - name: Upload Playwright HTML report
            if: ${{ !cancelled() }}
            uses: actions/upload-artifact@v4
            with:
              name: playwright-report
              path: playwright-report/
              retention-days: 30

          - name: Deploy (build project for production)
            if: ${{ github.event_name == 'push' }}
            run: npm run build

    tag_release:
      name: Increase version and create tag
      needs: [build_and_test_deployment_pipeline_job] #espera que termine el otro job
      runs-on: ubuntu-latest
      if: ${{ github.event_name == 'push' }}

      steps:
        - name: Checkout code 
          uses: actions/checkout@v5

        - name: Bump version and push tag
          uses: anothrNick/github-tag-action@v1
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            DEFAULT_BUMP: patch #para que incremente el último número de la versión (1.0.0 → 1.0.1).
            TAG_PREFIX: v
            PRERELEASE: true