name: Deployment pipeline

on: 
    push:
        branches:
            - main

jobs:
    build_and_test_deployment_pipeline_job:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code 
              uses: actions/checkout@v5
            
            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                node-version: '22'
            
            - name: Install dependencies
              run: npm install
            
            - name: Check style (Lint)
              run: npm run eslint
            
            - name: Run tests
              run: npm run test
            
            - name: Build project
              run: npm run build